.header {
    margin-bottom: 44px;
}
.header-title {
    h2 {
        font-size: 24px;
        margin-right: 46px;
    }
    a {
        color: $secondary;
    }
    a:hover {
        color: $primary-dark;
    }
    .more {
        color: $primary-dark;
    }
}
.tool-menu {
    li:first-child {
        margin-right: 26px;
    }
}