<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- 載入 bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- 載入 Material Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!-- 載入 bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>
  <div id="app" class="d-flex">
    <aside class="sidebar d-flex flex-column justify-content-between">
      <ul>
        <h1>
          <a href="#">
            <img src="./assets/images/logo-ANSWER.svg" alt="logo">
          </a>
        </h1>
        <li>
          <a href="#">
            <span class="material-icons">insert_chart</span>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-icons">forum</span>
            Question
          </a>
        </li>
        <li class="active">
          <a href="#">
            <span class="material-icons">assignment</span>
            Assignment
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-icons">video_library</span>
            Course
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-icons">supervisor_account</span>
            Admin
          </a>
        </li>
        <li>
          <a href="#">
            <span class="material-icons">settings</span>
            Settings
          </a>
        </li>
      </ul>

      <div class="user d-flex">
        <img src="./assets/images/andychen.jpeg" alt="avatar">
        <div>
          <p>Andy Chen</p>
          <p class="mail">andy0401@mail.com</p>
        </div>
      </div>
    </aside>

    <main class="main flex-grow-1">
      <%- contents %>
    </main>
    
  </div>
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
